 <div class="container">
            <div class="blog-post">

                <h1>Recipes</h1>

                <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'London')">Compose your own recipe</button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')">Search for recipe</button>
                </div>


                    <!-- <div class="menu-links">
                    <a href="http://www.onet.com" target="_blank">Compose your own recipe</a>
                    
                    <a href="logo.jpg" target="_blank">Search for recipe   </a>

                    <a href="logo.jpg" target="_blank">Your Profile</a>
                    </div> -->

                <h2>This is my recipe blog post</h2>

                    <p class="main-text">
                        This is a very <strong>strong</strong> text, because it is <strong>bold</strong>
                        I would like to <em>emhasize</em> how important it is to build this page! All beer lovers are waiting to share knowledge.
                        This is some <u>underlined</u> text. <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.   
                    </p>

                <h2>Comments:</h2>

                <p class="main-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.   
                    </p>
                    <%= image_tag("beer.jpeg", :alt => "beer photo") %>
                </div>
                <div class="other-posts">
                    <div class="other">
                        <strong>Recipes</strong>
                    </div>
                    <div class="other">
                        <strong>Your Friends</strong>
                    </div>
                    <div class="other">
                        <strong>Ranking</strong>
                    </div>
                    <div class="other">
                        <strong>Your User Profile</strong>
                    </div>
                </div>
                
                <div class="clearfix"></div>

                <div class="author-box">
                    </p>
                    <%= image_tag("author.jpg", :alt => "author photo") %>
                    <p class="author-text">Danielle Perez</p>
                </div>
        </div>